@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btnButton" onclick="ClickME()">點我</button>
    <div id="tObj"></div>
</div>


@section Scripts{
    <script>
        var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };

        function ClickME()
        {
            $(".display-4").text("Hello 你好");
            $("h1").attr("style", "background-color:aqua");
            let s = "";
            s += "<table border='1'>";
            s += "<tr>";
            s += "<th>姓名</th>";
            s += "<th>工作資歷</th>";
            s += "<th>薪水</th>";
            s += "</tr>";
            for (let i = 0; i < emp.employees.length; i++) {
                s += "<tr>";
                s += `<td>${emp.employees[i].name}</td>`;
                s += `<td>${emp.employees[i].workYears}</td>`;
                s += `<td>${emp.employees[i].salary}</td>`;
                s += "</tr>";
                

            };
            s += "</table>";
            $("#tObj").html(s);
        }
      
        
    </script>
}
@section Style{ 
@*<style>
    h1 {
          background-color:aqua;
    }

</style>*@

}